.milestoneitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid $disabled_color;

    &:last-child {
        border-bottom: 0px;
    }

    &__info {
        width: calc(100% - 200px);

        &__title {
            font-size: $font_size_14;
            color: $grey_color;
        }

        &__time {
            font-size: $font_size_12;
            color: $grey2_color;
        }
    }

    &__button {
        width: 200px;

        &--status {
            display: none;

            @include mediaquery('small') {
                display: flex;
            }
        }
    }
}