$physical_area_color: #1FADDF;
$green_color: #78B742;
$social_emotion_area_color: #D43571;

$grey_color: #657480;
$grey2_color: #8295A3;
$disabled_color: #F0F0F0;
$dark_grey: #9D9D9D;
$white: #FFFFFF;