$button_radius: 25px;
$selection_pill_radius: 25px;

$small_screen_size: 767px;
$medium_screen_size: 992px;
$large_screen_size: 1200px;
$max_width_container: 1280px;

$font_size_12: 12px;
$font_size_14: 14px;
$font_size_16: 16px;
$font_size_20: 20px;
$font_size_24: 24px;